
jupyter
pydot
graphviz
matplotlib
numpy>=1.16.6
h5py
protobuf
six
typing-extensions>=3.6.2.1
# onnx>=1.4.0
PyYAML
scikit-learn
tensorflow
tensorflow_datasets
tqdm
# QKeras==0.9.0
keras-flops
git+https://github.com/kentaroy47/keras-Opcounter
keras-tuner
setgpu
mplhep
pandas
seaborn
matplotlib